<div>
    @foreach(var supervisor in Model)
            {
                <h1>@supervisor.FirstName</h1>
                <p>
                    @supervisor.FirstName @supervisor.LastName <br />
                    @supervisor.BirthYear <br />
                    @supervisor.WorkXP
                </p>
            }
</div>

